version: "3.9"
services:
  app:
    build: .
    container_name: app
    ports:
      - "8080:8080"
    volumes:
      - .:/usr/src/app
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - postgres-network
    depends_on:
      - db
  db:
    image: postgres:13
    container_name: postgres_db
    ports:
      - "15432:5432"
    networks:
      - postgres-network
    environment:
      - POSTGRES_USER={{POSTGRES_USER}}
      - POSTGRES_PASSWORD={{POSTGRES_PASSWORD}}
      - POSTGRES_DB={{POSTGRES_DB}}
    volumes:
      - postgres_data:/var/lib/postgresql/data
networks:
  postgres-network:
    driver: bridge
volumes:
  postgres_data:
